/* You can add global styles to this file, and also import other style files */
.pozadina {
  background: #6a11cb;
  background: -webkit-linear-gradient(to right,  rgba(154, 114, 186, 1), rgba(131, 90, 163, 1));
  background: linear-gradient(to right, rgba(154, 114, 186, 1), rgba(131, 90, 163, 1))
}
.text{
  color: indigo;
}
.container-fluid{
  width: 100%;
  height: 100%;
}
